main {
    height: 100vh;
    position: relative;
  }

.summary_container{
  position: absolute;
  top: 100px;
  left: 232px;
  height: calc(100% - 100px);
  width: calc(100% - 232px);
}

.headline_container {
  padding-left: 80px !important;
}

.summary_absolute{
  position: absolute;
  top: 239px;
  left: 96px;
  width: calc(100%);
}

.summary_content{
  display: flex;
  width: 100%;
}

#summary_left{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.summary_section1_container{
  display: flex;
  width: 100%;
  height: 170px;
  gap: 32px;
}

#summary_todo_container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
  width: 50%;
  height: 170px;
  background-color: var(--background-color-header);
  border: 1px solid var(--input-border-color);
  border-radius: 30px;
}
#summary_todo_container img {
  width: 69px;
  height: 69px;
  border-radius: 30px;
}

.summary_hover_container:hover{
  background-color: var(--hover-color-summary) !important;
  scale: 1.1;
  color: var(--text-color-sidebar);
}

#summary_done_container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
  width: 50%;
  height: 170px; 
  background-color: var(--background-color-header);
  border: 1px solid var(--input-border-color);
  border-radius: 30px;
}
#summary_done_container img {
  width: 69px;
  height: 69px;
  border-radius: 30px;
}

.summary_section2_container{
  display: flex;
  height: 170px;
  background-color: var(--background-color-header);
  padding: 28px 48px;
  border-radius: 30px;
  border: 1px solid var(--input-border-color);
  margin: 28px 0px;
}

#summary_importance_container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
  width: 45%;
  border: 1px solid var(--input-border-color);
  border-radius: 30px;
}

#summary_deadline_container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
  width: 45%;
  border: 1px solid var(--input-border-color);
  border-radius: 30px;
}
.summary_section3_container{
  display: flex;
  width: 100%;
  height: 170px;
  gap: 28px;
}

#summary_Tasks_Board_container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
  width: 33%;
  height: 170px;
  background-color: var(--background-color-header);
  border: 1px solid var(--input-border-color);
  border-radius: 30px;
}

#summary_Tasks_Progress_container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
  width: 33%;
  height: 170px;
  background-color: var(--background-color-header);
  border: 1px solid var(--input-border-color);
  border-radius: 30px;
}

#summary_Await_Feedback_container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
  width: 33%;
  height: 170px;
  background-color: var(--background-color-header);
  border: 1px solid var(--input-border-color);
  border-radius: 30px;
}

#summary_right{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

#summary_greating_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 47px;
  font-weight: 500;
  margin: 0px 0px 0px 50px;
}

#summary_greating_container {
  padding: 20px;
  color: #2A3647;
}

#summary_greating_container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

#summary_greating_container h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #29ABE2;
}

.welcome-message {
  font-size: 1.2rem;
  color: #666;
}