main {
    height: 100vh;
    position: relative;
  }

.summary_container{
  position: absolute;
  top: 100px;
  left: 232px;
  height: calc(100% - 100px);
  width: calc(100% - 232px);
}

.headline_container {
  padding-left: 80px !important;
}

#summary_todo_container{

}

#summary_done_container{

}

#summary_importance_container{

}

#summary_deadline_container{

}

#summary_Tasks_Board_container{

}

#summary_Tasks_Progress_container{

}

#summary_Await_Feedback_container{

}

#summary_greating_container{

}