main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_section {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.join_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: fadeIn 1000ms ease forwards, moveLogo 2s ease forwards;
    animation-delay: 0ms, 1000ms;
    z-index: 1000;
}

.signup_login{
    align-items: center;
    position: absolute;
    height: 49px;
    top: 80px;
    right: 122px;
    gap: 35px;
}

.signup_login_mobile{
  align-items: center;
  height: 49px;
  gap: 35px;
}

main {
  height: 100vh;
}

.login_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 32px;
}

.login_card {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(207, 31, 31);
    border-radius: 30px;;
}

.login_card input {
    height: 48px;
    width: 422px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    margin: 12px 21px;
    padding-left: 10px;
}

.input_login_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 16px 0;
}

.button_login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

footer {
  width: 100%;
  max-width: 1440px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-footer);
}

footer div {
  display: flex;
  width: 246px;
  height: 35px;
  justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: var(--data-protection-text-color);
}

footer a:hover {
  color: var(--hover-color-footer);
}
 
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes moveLogo {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
        top: -65px;
        left: -20px;
        transform: translate(0, 0) scale(0.365);
    }
  }

  .signup_wrapper{
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .signup_card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    width: 598px;
    height: 630px;
    background-color: rgb(207, 31, 31);
    margin: 0 16px;
  }

  .signup_card input {
    height: 48px;
    width: 422px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    margin: 12px 21px;
    padding-left: 10px;
}

  .signup_container {
    display: none;
    align-items: center;
    position: absolute;
    width: 279px;
    height: 49px;
    top: 80px;
    right: 122px;
    gap: 35px;
  }

  .checkbox_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button_signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  #accept_policy{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }

  .signup_btn{
    width: 126px;
    height: 55px;
  }

  .checkbox_container label{
    color: var(--data-protection-text-color);
  }

  .checkbox_container a{
    color: var(--signup-privacy-policy-color);
  }

  .left_arrow_icon{
    position: absolute;
    top: 32px;
    left: 32px;
    background-color: unset;
  }

  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    animation: slideIn 0.5s, fadeOut 0.5s 2.5s forwards;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.error {
    background-color: #F44336;
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


@media screen and (max-width: 660px) {
  .join_logo_img {
    height: 290px;
    width: 200px;
  }
  .login_card {
    width: 80%;
    height: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  #loginForm {
    width: 100%;
  }

  .input_login_container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login_card input {
    width: 80%;
    max-width: 422px;
  }

  .login_btn {
    width: 80px;
  }

  .guest_login_btn {
    width: 135px;
  }

  .signup_card {
    padding-top: 16px;
    padding-bottom: 16px;
    height: auto;
  }

  .left_arrow_icon {
    left: 20px;
  }

  .login_wrapper h2 {
    font-size: 2.8rem;
    text-align: center;
  }

  .signupForm {
    width: 100%;
  }

  .input_login_container {
    gap: 32px;
    margin-bottom: 56px;
  }

  .input_login_container input {
    margin-top: 0;
    margin-bottom: 0;
    width: calc(100% - 64px);
  }

  .button_login_container {
    flex-direction: column;
    gap: 21px;
  }
  .login_btn {
    width: 180px;
  }

  .guest_login_btn {
    width: 180px;
  }

}

@media screen and (max-width: 420px) {
  .signup_login_mobile {
    gap: 16px;
  }
}