main{
    max-width: 1440px;
    height: 100vh;
}


.join_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: fadeIn 1000ms ease forwards, moveLogo 3s ease forwards;
    animation-delay: 0ms, 1000ms;
    z-index: 1000;
}


 
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes moveLogo {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
        top: -15px;
        left: 10px;
        transform: translate(0, 0) scale(0.365);
    }
  }



.signup_login{
    display: flex;
    align-items: center;
    position: absolute;
    width: 279px;
    height: 49px;
    top: 80px;
    right: 122px;
    gap: 35px;
}
