main {
    height: 100vh;
  }

  .policy_container {
    position: absolute;
    top: 100px;
    left: 232px;
    height: calc(100% - 100px);
    width: calc(100% - 424px);
    padding: 0 96px;
    overflow-y: auto;
    display: block;
  }

