main {
    height: 100vh;
  }

  .legal_container {
    position: absolute;
    top: 100px;
    left: 232px;
    height: calc(100% - 100px);
    width: calc(100% - 424px);
    overflow-y: auto;
    padding: 0 96px;
  }