main {
    height: 100vh;
}

h1 {
    font-size: 47px;
}

h2 {
    font-size: 27px;
}

.legal_container {
    position: absolute;
    top: 100px;
    left: 232px;
    height: calc(100% - 142px);
    width: calc(100% - 424px);
    overflow-y: auto;
    padding: 0 96px 42px 96px;
    max-width: 1248px;
}

@media (max-width: 1050px) {
    .sidebar_join_logo_db_none {
        display: none;
    }
}

