.required_message {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.input_titel_required {
    border: 2px solid red !important;
}

.input_date_required {
    border: 2px solid red !important;
}

.category_dropdown_toggle_required {
    border: 2px solid red !important;
}

