main {
    height: 100vh;
}
#add_task_container {
    position: absolute;
    top: 206px;
    left: 328px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.separator_container {
    display: flex;
    width: 100%;
}

.title_container {
    flex: 1;
    padding-right: 16px;
    box-sizing: border-box;
}

.priority_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    box-sizing: border-box;
}

.separator_vertically_gray {
    width: 1px;
    background-color: gray;
    height: auto;
}

.textarea {
    padding-top: 16px;
    padding-left: 16px;
    width: 440px;
    max-width: 100%;
    height: 136px;
    resize: none;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.input_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input_titel {
    padding-left: 16px;
    border: solid 1px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 48px;
}

.textarea_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input_date_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input_date {
    padding-left: 16px;
    padding-right: 16px;
    border: solid 1px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 48px;
}

.radio-form {
    display: flex;
}

.radio-form input[type='radio'] {
    display: none;
}

.radio-form label {
    display: inline-block;
    padding: 12px 24px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease;
}

.radio-form label:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 20.467);
}

/* .radio-form input[type='radio']:checked + label {
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
} */

input#Urgent:checked + label.btn_red {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
    color: white;
}

