@media (max-width: 1050px) {
    header {
        background-color: var(--background-color-header);
        width: 100%;
        height: 96px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        box-shadow: 0px 4px 4px #88888838;
        z-index: 100;
        position: fixed;
        top: 0;
    }

    #add_task_container {
        left: 0;
        width: 100%;
    }

    .separator_vertically_gray {
        display: none;
    }

    .main_section {
        flex-direction: column;
        flex: none;
        justify-content: center;
        margin-top: 140px;
    }

    .main_section_left,
    .main_section_right {
        max-width: none;
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        padding-right: 32px;
        flex: none;
    }

    .tag_input_container {
        width: 100%;
        max-width: none;
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .title_head {
        box-sizing: border-box;
        position: fixed;
        top: 90px;
        width: 100%;
        margin: 0;
        padding-bottom: 16px;
        padding-top: 48px;
        padding-left: 16px;
        background-color: #f5f6f7;
        z-index: 1;
    }

    h2 {
        font-size: 47px;
    }

    .btn,
    .clear_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 12px 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: none;
        box-shadow: none;
    }

    .btn {
        flex: 1;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
    }

    .clear_btn {
        background-color: white;
        color: #2a3647;
        border: 2px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: none;
        box-shadow: none;
    }

    .clear_btn:hover {
        background-color: #f0f0f0;
        border-color: #29abe2;
        color: #29abe2;
    }

    .create_task_btn {
        background-color: #2a3647;
        color: white;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: none;
        box-shadow: none;
    }

    .create_task_btn:hover {
        background-color: #29abe2;
    }

    .create_task {
        background-color: #f5f6f7;
        justify-content: end;
        align-items: center;
        position: fixed;
        bottom: 2px;
        width: 100%;
        padding-bottom: 16px;
        padding-top: 8px;
    }

    .btn_position {
        margin-right: 16px;
    }

    .hide_mobile_required_text_footer {
        display: none;
    }

    .show_mobile_required_text_footer {
        display: block;
    }

    .display_block_required_text_footer {
        display: none;
    }

    .display_none_required_text_footer {
        display: block;
    }
    .required_footer_text_mobile_container {
        margin-bottom: 200px;
    }

    .contact_save_message_addTask {
        background-color: var(--active-contact-color);
        color: var(--text-color-white);
        height: 64px;
        width: 280px;
        position: fixed;
        border-radius: 20px;
        left: 50%;
        bottom: -100px;
        transform: translateX(-50%);
        transition: all 125ms ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        z-index: 1000;
    }

    .contact_save_message_addTask.show {
        bottom: 50%;
    }

    .closed {
        bottom: -100px;
    }
}

@media (max-width: 426px) {
    .btn {
        flex: none;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        padding: 12px 8px;
    }
    .priority_btn_group {
        gap: 8px;
    }
}

