.assign_to_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.dropdown {
    position: relative;
    width: 100%;
    font-family: sans-serif;
    margin-top: 8px;
}

.dropdown_input_wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown_toggle {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    padding: 10px 14px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.2s ease;
    text-align: left;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.dropdown_toggle:focus {
    outline: none;
    border-color: #2684ff;
}

.arrow_bg_hover_color {
    pointer-events: auto;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    transition: transform 0.3s ease;
}

.dropdown_menu {
    display: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -1px;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-bottom: 8px;
}

.dropdown_item_no_contact_found {
    height: 56px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    padding: 10px 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 4px;
    border-radius: 10px;
}

.dropdown_item {
    margin-left: 8px;
    margin-top: 4px;
    height: 56px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
    padding: 10px 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 4px;
    border-radius: 10px;
}

.dropdown_item:hover {
    background-color: var(--hover-before-color-assigned-dropdown);
    border-radius: 10px;
}

.dropdown_item.active {
    background-color: var(--checked-color-assigned-dropdown);
    color: white;
    border-radius: 10px;
}

.dropdown_item.active:hover {
    background-color: var(--hover-after-color-assigned-dropdown);
    color: white;
    border-radius: 10px;
}

.dropdown.open .dropdown_menu {
    display: block;
}

.dropdown.open .arrow {
    transform: rotate(180deg);
}

.dropdown_input_wrapper:hover .arrow_bg_hover_color {
    background-color: lightgray;
}

.symbole_name_group {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
}

.assign_dropdown_input {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.assign_dropdown_input:hover {
    background-color: #fff;
    border-color: #999;
}

.assign_dropdown_input:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #2a3647;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.profile_icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid var(--contact-container-background-color);
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: white;
}

.selected_user_group {
    padding-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.profile_icon:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 20.467);
}

.dropdown_toggle::placeholder {
    color: black;
}

