.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.overlay_content {
    width: 100%;
    max-width: 1000px;
    margin-left: 16px;
    margin-right: 16px;
    background: white;
    padding: 32px;
    border-radius: 35px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.d_none {
    display: none;
}

.close_button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}

.close_button_container {
    position: relative;
    width: 32px;
    height: 64px;
}

.title_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 48px;
}

.create_task {
    margin-top: 80px;
    margin-bottom: 24px;
}

.main_section_left {
    max-width: 440px;
    margin-left: 0px;
    margin-right: 48px;
    flex: 1;
    box-sizing: border-box;
}

.main_section_right {
    margin-right: 0px;
    max-width: 440px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
}

.required_footer_text {
    margin-left: 0px;
}

.btn_position {
    margin-right: 24px;
}

