.custom-dropdown {
    width: 440px;
    border: solid 1px;
    border-radius: 10px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
}

.placeholder-text {
    color: gray;
    transition: opacity 0.3s ease;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    margin-top: 2px;
    padding: 8px;
    max-height: 100px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    margin-left: 4px;
    transition: transform 0.3s ease;
}

#toggle:checked + .dropdown-header .arrow {
    transform: rotate(180deg);
}

#toggle:checked ~ .dropdown-content {
    display: flex;
}

#toggle:checked + .dropdown-header .placeholder-text {
    opacity: 0;
    visibility: hidden;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #f0f8ff;
}

.dropdown-item:has(input[type='checkbox']:checked) {
    background-color: #d0ebff;
}

