.category-dropdown {
    position: relative;
    width: 100%;
    font-family: sans-serif;
    margin-top: 8px;
}

.category-dropdown-toggle {
    width: 100%;
    padding: 10px 14px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.2s ease;
    text-align: left;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.category-dropdown-toggle:focus {
    outline: none;
    border-color: #2684ff;
}

.category-dropdown-item:focus {
    outline: none;
    border-color: #2684ff;
}

.category-dropdown-menu {
    display: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -1px;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-bottom: 8px;
    margin-bottom: -16px;
}

.category-dropdown-item {
    padding: 10px 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.category-dropdown-item:hover {
    background-color: #f0f8ff;
}

.category-dropdown.open .category-dropdown-menu {
    display: block;
}

.category-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    transition: transform 0.3s ease;
}

.category-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.category-dropdown.open .category-arrow {
    transform: rotate(180deg);
}

.category-arrow-bg-hover-color {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.category-arrow-bg-hover-color:hover {
    background-color: lightgray;
}

