.Category-custom-dropdown {
    width: 440px;
    border: solid 1px;
    border-radius: 10px;
    margin-top: 8px;
}

.Category-dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
}

.Category-placeholder-text {
    color: gray;
    transition: opacity 0.3s ease;
}

.Category-dropdown-content {
    display: none;
    flex-direction: column;
    margin-top: 2px;
    padding: 8px;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.Category-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    transition: transform 0.3s ease;
}
.arrow-bg-hover-color {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}
.arrow-bg-hover-color:hover {
    background-color: lightgray;
}

#Category-toggle:checked + .Category-dropdown-header .Category-arrow {
    transform: rotate(180deg);
}

#Category-toggle:checked ~ .Category-dropdown-content {
    display: flex;
}

#Category-toggle:checked + .Category-dropdown-header .Category-placeholder-text {
    opacity: 0;
    visibility: hidden;
}

.Category-dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.Category-dropdown-item:hover {
    background-color: grey;
}

.Category-dropdown-item:has(input[type='checkbox']:checked) {
    background-color: #d0ebff;
}

