.priority_btn_group {
    justify-content: space-between;
    display: flex;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.priority_btn_group input[type='radio'] {
    display: none;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 20.467);
}

#prio_urgent:checked + label.btn--red {
    background-color: #ff3d00;
    border-color: #ff3d00;
    color: #fff;
}

#prio_medium:checked + label.btn--orange {
    background-color: #ffa800;
    border-color: #ffa800;
    color: #fff;
}

#prio_low:checked + label.btn--green {
    background-color: #7ae229;
    border-color: #7ae229;
    color: #fff;
}

.priority_icon {
    width: 20px;
    height: 15px;
}

