:root {
    --drag-area-placeholder-background-color: #e7e7e7;
    --drag-area-placeholder-border-color: #a8a8a8;
}

main {
    height: 100vh;
}

.board_container {
    position: absolute;
    top: 100px;
    left: 232px;
    height: calc(100% - 100px);
    width: calc(100% - 232px);
    max-width: 1440px;
}

.board_content_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 100%;
    height: 232px;
}

.headline_container {
    display: flex;
    margin: 0;
    padding-left: 0;
    flex: 1;
}

.headline_container h2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.board_controls_container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
}

.search_and_addTask_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.search_container_style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_container {
    background-color: var(--input-background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    height: 46px;
    overflow: hidden;
}

.search_container:focus-within {
    border-color: var(--focus-color);
}

.input_base_style {
    border: none;
    padding: 13px 0 13px 21px;
    font-size: 16px;
    width: 312px;
    margin: 0;
}

.separator_vertically {
    background-color: var(--input-background-color);
    height: 31px;
    border: 1px solid var(--separator-color-grey);
    margin: 0;
    border-radius: 3px;
}

.button_container {
    background-color: var(--input-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 64px;
    border-radius: 10px;
}

.button_text {
    display: block;
}

.light_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    border-radius: 100%;
}

.light_btn:hover {
    background-color: var(--input-icon-hover-color);
}

.dark_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 48px;
    padding: 12px 16px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 244px;
    padding-bottom: 24px;
}

.category span {
    color: var(--text-color-board-category-container);
    font-size: 20px;
    font-weight: bold;
}

.plus_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.plus_button:hover {
    border-radius: 10px;
}

.board_content_bottom {
    margin: 0 30px 0 30px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    gap: 26px;
    width: calc(100% - 60px);
    height: calc(100% - 232px);
    padding-right: 20px
}

.drag_and_drop_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 24px);
    width: 244px;
    padding-bottom: 24px;
}

.drag_area {
    max-height: 100%;
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 -25px;
    padding: 24px 20px 0 20px;
    overflow-y: auto;
    overflow-x: clip;
}

.task_card.dragging {
    opacity: 0.6;
    transform: rotate(5deg);
    cursor: grabbing;
    transform-origin: bottom left;
}

.drag_area_placeholder {
    transition: all 0.2s ease;
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--drag-area-placeholder-background-color);
    border: 1px dashed var(--drag-area-placeholder-border-color);
    width: calc(100% - 10px);
    height: 46px;
    border-radius: 10px;
    font-size: 16px;
    color: var(--text-color-drag-area-placeholder);
}

.input_container_style {
    width: 100%;
}

