main {
    height: 100vh;
}

.board_container {
  position: absolute;
  top: 100px;
  left: 232px;
  height: calc(100% - 100px);
  width: calc(100% - 232px);
}

.board_contend_top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
  width: 100%;
  height: 232px;
}

.headline_container {
  margin-top: 0;
  padding-left: 0;
}

.board_controls_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.search_and_addTask_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.search_container {
  background-color: var(--input-background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--input-border-color);
  border-radius: 10px;
}

.search_container:focus-within {
  border-color: var(--focus-color);
}

.input_base_style {
  border: none;
  padding: 13px 0 13px 21px;
  font-size: 16px;
  width: 312px;
  margin: 0;
}

.separator_vertically {
  background-color: var(--input-background-color);
  height: 31px;
  border: 1px solid var(--separator-color-grey);
  margin: 0;
  border-radius: 3px;
}

.button_container {
  background-color: var(--input-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 64px;
  border-radius: 10px;
}

.light_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  height: 32px;
  border-radius: 100%;
}

.light_btn:hover {
  background-color: var(--input-icon-hover-color);
} 

.dark_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 48px;
  padding: 12px 16px;
}

.category_task_container {
  display: flex;
  justify-content: center;
  gap: 26px;
  width: 100%;
  height: 24px;
  margin-bottom: 7px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 244px;
}

.category span {
  color: var(--text-color-board-category-container);
  font-size: 20px;
  font-weight: bold;
}

.plus_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.board_contend_bottom {
  display: flex;
  justify-content: center;
  gap: 26px;
  width: 100%;
  height: calc(100% - 232px);
}

.drake_and_drop_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 244px;
}

.drake_area {
  background-color: var(--drake-area-background-color);
  height: 48px;
  border: 1px dashed var(--drake-area-border-color);
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.drake_area_placeholder {
  font-size: 16px;
  color: var(--text-color-drake-area-placeholder);
}