html{
    font-size: 100%;
}

@media screen and (max-width: 1300px) {

html{
    font-size: 93.75%;
}

.headline_container{
    gap: 16px;
}    

.headline_container h2 {
    font-size: 2.93rem;
}

.headline_container span{
    font-size: 1.25rem;
}

.contact_name{
    font-size: 36px;
}
.contact_header{
    gap: 20px;
}

}


@media screen and (max-width: 1150px) {
html{
    font-size: 85%;
}

    #contact_list{
        align-items: flex-end;
        max-width: 420px;
    }

    .contact_container{
        left: 640px;
        width: calc(100% - 640px);
    }
    
    .profile_icon_large {
        width: 80px;
        height: 80px;
        min-width: 80px;
    }
    
    .profile_icon_large span{
        font-size: 27px;
        font-weight: 400;
    }
    
}

@media screen and (max-width: 1050px){
    .new_contact_container{
        display: none;
    }

    .new_contact_overlay_right{
        padding: 0;
    }

    .headline_container{
        flex-direction: column;
        align-items: unset;
        margin-top: 48px;
    }

    .contact_buttons{
        display: none;
    }

    .contact_container {
    display: flex;
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    width: 100%;
    z-index: 10000;
    background-color: var(--background-color-main);
    flex-direction: column;
    }

    .mobile_closed{
     transform: translateX(150%);
    }

    .overlay_side_img img{
        display: none;
    }

    .contact_overlay_img img{
        position: absolute;
        transform: translate(-50%, -75%);
        top: 50%;
        left: 50%;
        width: 8.75rem;
        height: 8.75rem;
    }

    .overlay_side_img{
        width: 100%;
        max-width: none;
        height: 46%;
        justify-content: center;
    }
    
    .overlay_text_container{
        padding: 1.5rem;
    }

    .contact_content_row{
        flex-direction: column;
        align-items: center;
    }
    
    .contact_popup{
        flex-direction: column;
        height: 80%;
        max-height: 760px;
        max-width: 540px;
    }

    .overlay_side_img{
        padding: 0;
    }

    


    
    #contact_list{
        max-width: none;
        width: 100%;
        align-items: unset;
        left: 0;
    }
    .letter_separator_horizontal{
        width: 98%;
    }

    .contact_side{
        width: 94%;
        margin: 0 16px;
        overflow-y: hidden;
        gap: 12px;
    }


        .separator_horizontally_mobile{
        display: flex;
        align-self: flex-start;
        margin-inline-start: 1px;
    }

        .separator_vertical{
        display: none; 
    }

    .sec_add_contact_btn{
        display: flex;
        position: fixed;
        right: 16px;
        bottom: 112px;
    }

    .return_arrow{
        display: flex;
    }

}

@media screen and (max-width: 700px){
    .contact_side{
        width: 90%;
        margin: 0 10px;
        padding-left: 12px;
    }

    .headline_container, 
    .contact_main{
        padding-left: 16px;
    }


}

@media screen and (max-width: 400px){
    .letter_index{
        width: 260px;
    }
    
    .contact_side_name{
        font-size: 16px;
    }
    
    .contact_side_mail{
        font-size: 14px;
    }

    .contact_name{
        font-size: 24px;
    }
    
}