@font-face {
    font-family: Inter;
    src: url(../assets/font/Inter-VariableFont_opsz\,wght.ttf)
      format("truetype");
  }

  .font_size_20px{
    font-size: 20px;
  }

  h2 {
    font-size: 3.81rem;
    font-weight: 700;
    margin: 0;
  }