.name_input_icon{
    background-image: url('../assets/imgs/inputIcons/person.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.mail_input_icon{
    background-image: url('../assets/imgs/inputIcons/mail.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.lock_input_icon{
    background-image: url('../assets/imgs/inputIcons/lock.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.magnifying_glass_input_icon {
    background-image: url('../assets/imgs/boardIcons/search.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
}