body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Inter;
  }
  
  button {
      border: none;
      outline: none;
      cursor: pointer;
      font-family: Inter;
  }
  
  input {
      border: none;
      outline: none;
      cursor: pointer;
  }

  .d_none{
    display: none !important;
  }

  .pb_20{
    padding-bottom: 20px;
  }